/* TESTIMONIAL CAROUSEL CONTIANER */

.testimonials__section {
  background-color: var(--color-olive);
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials__carousel-title {
  color: var(--color-cream);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 65px;
  gap: 30px;
  width: 70%;
}

.testimonials__carousel-title h2 {
  font-size: 36px;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  font-weight: 100;
  letter-spacing: 2px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  margin: 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.divider {
  height: 1px;
  background-color: var(--color-white);
  flex: 1;
}

.testimonials__carousel {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  height: 450px;
}

.testimonials__message {
  color: var(--color-cream);
  flex-grow: 1;
  flex-direction: column;
  line-height: 2;
  width: 60%;
}

.testimonials__message p {
  font-size: 20px;
}

.testimonials__message cite {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.testimonials__button-container {
  gap: 20px;
  display: flex;
  margin: auto 0 25px;
  transition: background-color 10s ease;
  padding-bottom: 10px;
}

.testimonials__button {
  width: 7px;
  height: 7px;
  padding: 0;
  border: none;
  background-color: var(--color-cream);
  cursor: pointer;
  gap: 20px;
}
