/* HEADER */

/* ANNOUNCEMENT BAR */
.announcement-bar__container {
  background-color: var(--color-espresso);
  height: 55px;
  display: flex;
  overflow: hidden;
}

.announcement-bar__track {
  display: flex;
  align-items: center;

  /* take up the maximum width available from content */
  width: max-content;

  /* run the animation called marquee, take 20 seconds per cycle, move at a constant speed, 
  and repeat forever. */
  animation: marquee 17s linear infinite;
}

.announcement-bar__text {
  font-family: "Aboreto", serif;
  font-size: 1rem;
  color: var(--color-gold);
}

.announcement-bar__track--group-a,
.announcement-bar__track--group-b,
.announcement-bar__track--group-c,
.announcement-bar__track--group-d {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 70px;

  /* add padding to the end of marquee for smooth transition */
  padding-right: 70px;
}

/* ANNOUNCEMENT BAR ANIMATION */

/* define the marquee animation and set start and end states */
@keyframes marquee {
  /* start marquee movement offset by 50% left off of the element's width */
  from {
    transform: translateX(-25%);
  }
  /* move marquee to the right till it reaches its normal position */
  to {
    transform: translateX(0);
  }
}

/* ---------------------------------------------------------------------- */

/* LOGO & NAVBAR */

.header__navbar-section {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 15px;
}

.header__logo-container {
  height: 110px;
  width: 140px;
  padding-top: 5px;
}

.header__logo-img {
  height: 120px;
  width: auto;
}

.navbar__list-container {
  display: flex;
  align-self: flex-start;
  padding-top: 5px;
}

.navbar__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar__links {
  text-decoration: none;
  color: var(--color-espresso);
  font-size: 1.2rem;
}

.navbar__links:hover {
  color: var(--color-olive);
}

.booking-cta {
  background-color: var(--color-olive);
  border: 1px solid var(--color-logo-bg-cream);
  border-style: none;
  border-radius: 999px;
  padding: 10px 26px;
  text-decoration: none;
  transition:
    background-color 0.25s ease,
    border-color 0.25s ease,
    transform 0.25s ease;
  cursor: pointer;
}

.booking-cta:hover {
  background-color: var(--color-espresso);
  border-color: var(--color-espresso);
  transform: translateY(-2px);
}

.booking-text {
  color: var(--color-cream);
}

.booking-text:hover {
  color: var(--color-cream);
}
